.addtoany
  .a2a_kit.a2a_kit_size_32.a2a_default_style
    - const conf = theme.addtoany
    - const sites = conf.enable ? conf.sites ? conf.sites : [] : []
    each name in sites
      a(class="a2a_button_" + name)

    a.a2a_dd(href="https://www.addtoany.com/share")
script(async src=url_for(theme.CDN.addtoany))
